.Admin {
    .sidenav {
        width: $sidenav_width;
    }

    .main_content {
        margin-left: calc($sidenav_width + 1%);
        padding: 0 1em;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 1.2em;
            }

            a {
                text-decoration: none;
                background: #000;
                color: #fff;
                padding: 0.25em 1em;
                border-radius: 4px;
                font-weight: bold;

                &:hover {
                    background: #134d01;
                }
            }
        }

        .body {
            ul {
                list-style: none;
                margin: 0.5em 0;

                li {
                    $li_border: 1px solid rgb(221, 221, 221);
                    display: grid;
                    gap: 1em;
                    border-bottom: $li_border;
                    padding: 0.4em 0.3em;

                    &:first-of-type {
                        border-top: $li_border;
                    }

                    .actions {
                        span {
                            &:not(:last-of-type) {
                                margin: 0 1em 0 0;
                            }

                            button {
                                border: none;
                            }
                        }

                        .edit {
                            color: green;
                        }

                        .delete {
                            color: red;
                        }
                    }
                }

                .categories {
                    grid-template-columns: repeat(3, 1fr);

                    .actions {
                        text-align: right;
                    }
                }
            }
        }

        .custom_form {
            width: 60%;
            margin: auto;
            padding: 1em 0 0;

            h1 {
                background: #000;
                color: #fff;
                font-size: 0.95em;
                text-transform: uppercase;
                text-align: center;
                padding: 0.5em;
                margin: 0 0 0.5em;
                letter-spacing: 0.5px;
                border-radius: 8px 8px 0 0;
            }
        }

        .related_pages_navbar {
            display: flex;
            gap: 1em;
            padding: 0.5em 0;

            a {
                text-decoration: none;
                color: #0627b8;
                font-weight: bold;

                &:not(:last-of-type)::after {
                    content: '/';
                    margin-left: 1em;
                }
            }
        }
    }
}
