.sidenav {
    height: 100%;
    position: fixed;
    border-right: 1px solid grey;
    text-align: center;

    .toggle {
        display: none;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    ul {
        list-style: none;
        li {
            margin: 0 0 2em;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }

    .nav_text {
        display: none;
    }

    .header {
        margin: 1em 0 2em;
    }

    .footer {
        position: absolute;
        bottom: 1.5em;
        width: 95%;
        margin: auto;

        ul {
            gap: 1em;
        }

        button {
            border: none;
            background: none;
            width: 100%;

            i {
                color: red;
                font-size: 1.8em;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .sidenav {
        .toggle {
            display: block;
            position: absolute;
            top: 0.5em;
            right: -0.4em;
            transform: rotateY(180deg);
            transition: transform 0.4s ease;
            cursor: pointer;
        }

        .nav_text {
            display: block;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            img {
                height: 30px;
                width: 30px;
            }
            h1 {
                font-size: 1.2em;
            }
        }

        .body {
            ul {
                padding: 0 1em;
                display: grid;
                gap: 1.5em;
                li {
                    margin: unset;
                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .footer {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .closed {
        .toggle {
            transform: rotateY(0deg);
        }

        .nav_text {
            display: none;
        }

        .footer {
            ul {
                display: grid;
                gap: 0.5em;
            }
        }
    }
}
