.HomePage {
    section {
        margin: 0 0 5em;
    }
    .Hero {
        .container {
            @include responsive_grid(2);
            align-items: center;
            $container_height: 30vh;
            height: $container_height;

            .text {
                h1 {
                    font-size: max(3em, 3vw);
                    text-transform: uppercase;
                }
                p {
                    font-size: max(1.5em, 1.5vw);
                }
            }

            .image {
                @include desktop_only;
            }
        }
    }

    .Products {
        .container {
            h1 {
                text-transform: uppercase;
            }

            .products_wrapper {
                margin: 1em 0;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .HomePage {
        .Hero {
            .container {
                padding: 0 $sides_padding;
                height: 90vh;

                .image {
                    height: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
