@mixin responsive_grid($columns) {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (width >= 726px) {
        grid-template-columns: repeat($columns, 1fr);
    }
}

@mixin desktop_style($property, $value) {
    @media screen and (width >= 726px) {
        #{$property}: $value;
    }
}

@mixin desktop_only {
    display: none;

    @media screen and (width >= 726px) {
        display: block;
    }
}

@mixin fit_image($object_fit) {
    height: 100%;
    width: 100%;
    object-fit: $object_fit;
    object-position: center;
}

@mixin link_color($color) {
    text-decoration: none;
    color: $color;
}