.navbar {
    height: 8vh;
    background: transparent;
    backdrop-filter: blur(6px);
    padding: 0.5em $sides_padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    a {
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 1.1em;
    }

    .branding {
        h1 {
            font-size: 1.2em;
        }
    }

    .nav_links {
        display: flex;
        gap: 1em;

        .nav_authentication {
            a {
                background: #000;
                color: #fff;
                padding: 6px 16px;
                border-radius: 16px;
            }

            .logout {
                background: rgb(216, 0, 0);
            }
        }
    }
}