.ShopPage {
    .container {
        .search {
            margin: 0 0 1em;
            display: flex;
            justify-content: center;

            form {
                position: relative;
                margin: auto;
                @include desktop_style(width, 30%);

                input,
                button {
                    height: 35px;
                    padding: 8px 16px;
                    border: 1px solid grey;
                }

                input {
                    width: 100%;
                    border-radius: 32px;
                    font-size: 1em;
                }

                button {
                    background: #000;
                    color: #fff;
                    position: absolute;
                    right: 0;
                    border-radius: 0 32px 32px 0;
                    cursor: pointer;
                }
            }
        }
    }
}
